.SideBer
  .LeftHeader
    .LeftHeader__list
      .LeftHeader__userName
        aaa
      %ul.LeftHeader__iconlist
        %li.leftHeader__icon
          = link_to "#", class: "icon" do
            = icon('far', 'edit')
        %li.leftHeader__icon
          = link_to "#", class: "icon" do
            = icon('fas', 'cog')
  .GroupList
    .Group
      .Group__name
        グループ名
      .Group__message
        まだメッセージがありません